
<div class="mt-3 pt-3 powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses} col">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses} d-flex justify-content-end">
		<f:comment><!--
		<f:form.submit value="{field.title}" class="btn btn-primary {settings.styles.framework.submitClasses}" />
		--></f:comment>
		<f:form.button type="submit" value="{field.title}" class="btn btn-primary {settings.styles.framework.submitClasses}">{field.title}</f:form.button>
	</div>
</div>
