{namespace vh=In2code\Powermail\ViewHelpers}
<fieldset id="powermail_fieldset_{page.uid}" class="powermail_fieldset powermail_fieldset_{page.uid} {page.css}">
	<legend class="powermail_legend">{page.title}</legend>
	<div class="row">
		<f:for each="{page.fields}" as="field" iteration="iteration">
			<f:if condition="{field.txLazarskiAkademiaEuropejskaPowermailResetRow}">
				<div class="w-100"></div>
			</f:if>
			<vh:misc.createRowTags columns="{settings.styles.numberOfColumns}" class="{settings.styles.framework.rowClasses}" iteration="{iteration}">
				<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field, form:form}" />
			</vh:misc.createRowTags>
		</f:for>
	</div>
</fieldset>
